body {
  background-color: $primary-white-color;
  color: $primary-text-color;

  font-family: $body-font-fam;
  letter-spacing: $body-let-spacing;
  font-size: $body-font-size;
  line-height: $body-line-heit;
}
